<div class="col-12">
    <h1><span class="post_nav__title">Blog</span></h1>
    <h6><span class="post_nav__subtitle">Victor de Andres</span></h6>
    <div class="post_nav__categories">
      Categorias
    </div>
    <div class="post_nav__categories--category">
      Angular
    </div>
    <div class="post_nav__categories--category">
      Webpack
    </div>
    <div class="post_nav__categories--category">
      Vue JS
    </div>
    <div class="post_nav__categories--category">
      Agile
    </div>

    <br>

    <div class="post_nav__categories">
      Archivos
    </div>
    <div class="post_nav__categories--category">
      Julio 2017
    </div>
    <div class="post_nav__categories--category">
      Agosto 2017
    </div>

</div>

