@import '../../styles/__breakpoints.scss';
@import './../../styles/__colors.scss';

.post_nav__title {
    font-family: Roboto;
    background-color: #000;
    color: white;
    @include respond-to(movil) { 
        width: 100%;
        display: block;
        text-align: center;
        padding: 1em 0.5em 0.3em 0.5em;    
    }
    @include respond-to(tablet) { 
        width: 80%;
        max-width: 250px;
        max-height: 200px;
        display: block;
        text-align: center;
        padding: 1em 0.5em 0.3em 0.5em;    
        margin-top: 1em;
        margin-left: 10%;
    }

}

.post_nav__subtitle {
    background-color: #fff;
    color: black;
    margin-top: -.5em;
    @include respond-to(movil) { 
        width: 100%;
        display: block;
        text-align: center;
        padding: 0.5em 0 1em 0;
    }
    @include respond-to(tablet) { 
        width: 80%;
        max-width: 250px;
        max-height: 100px;           
        display: block;
        text-align: center;
        padding: 0.5em 0 1em 0;
        margin-left: 10%
    }

}

.post_nav__categories {
    @include respond-to(movil) {
        display: none;
    } 
    @include respond-to(tablet) { 
        display: block;
        width: 80%;
        text-align: left;
        color: $bordeaux;
        padding: 18px 0 18px 0;
        margin: 6px 0 12px 10%;
        border: $bordeaux;
        border-width: 2px;
        border-bottom: solid;
    }    
}

.post_nav__categories--category {
    @include respond-to(movil) {
        display: none;
    } 
    @include respond-to(tablet) { 
        display: block;
        width: 60%;
        text-align: left;
        padding: 4px 0 4px 8px;
        margin-left: 20%;
        font-size: 18px;
    }    
}

.post_nav__categories--category:hover {
    color: $bordeaux;
    text-decoration: underline;
}