<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 ">
    <div class="post__footer--share"> 
      <div class="post__footer--share--icon fa fa-twitter" (click)="launchTweet(titlepost)"></div>
      <div class="post__footer--share--icon fa fa-linkedin" (click)="launchLinkedin(titlepost)"></div>
      <div class="post__footer--share--icon fa fa-facebook-official" (click)="launchFacebook()"></div>
      <div class="post__footer--share--icon fa fa-google-plus-official" (click)="launchGoogle()"></div>
    </div>
  </div>
</div>
<div class="post__footer--footer"></div>

