
<!-- Menu -->
<aside [hidden]="!showAnimation()" id="sidebarmenu">
  <input id="hamburger" type="checkbox" class="hamburger-checkbox">
  <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>

  <nav role="navigation" class="sidebar">
    <ul class="menu">
      <li><a [routerLink]="['//posts']">Blog</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</aside>  

<!-- Background -->

<div class="landing__page__container">

  <div class="landing__page__container--image">
      <div class="landing__page__card">
      <div class="landing__page__card--name">Victor de Andrés</div>
      <div class="landing__page__card--title">Frontend Engineering</div>
      <div class="landing__page__card--subtitle">- full stack web developer -</div>
    </div>
  </div>
</div>



