@import '~bootstrap/scss/bootstrap.scss';
@import './../../styles/__breakpoints.scss';

.posts__resume__header
{
    display: block;
    width: 100%;
    height: 10px;
    background-color: #cecece;
    margin: 2em 1em 2em 0;
}

.posts__resume__title{
    display: block;
    height: 100%;
}

.posts__resume__title--star{
    height: 50px;
    background: url('./../../assets/images/star.png') no-repeat 0 3px transparent;
    float: left;
    @include respond-to(movil) { 
        width: 12.5%;
    }
    @include respond-to(tablet) { 
        width: 7.5%;
    }      
}

.posts__resume__title--column{
    display: inline-block;
    @include respond-to(movil) { 
        width: 75%;
    }
    @include respond-to(tablet) { 
        width: 90%;
    }
}

.posts__resume__title--title{
    font-family: BebasNeue;
    font-weight: bold;    
    @include respond-to(movil) { 
        font-size: 36px;
        line-height: 36px;
    }      
    @include respond-to(tablet) { 
        font-size: 70px;
        line-height: 70px;
    }      


}

.posts__resume__title__publishedate,
.posts__resume__title__publisheby
{
    color: #757D81;
    @include respond-to(movil) { 
        font-size: 12px;        
    }      
    @include respond-to(tablet) { 
        font-size: 14px;
    }      

}

.posts__resume__publishedate,
.posts__resume__publisheby
{
    color: #770025;
    @include respond-to(movil) { 
        font-size: 12px;        
    }      
    @include respond-to(tablet) { 
        font-size: 14px;
    }
}

.posts__resume__text
{
    padding-top: 1em;
    font-family: sans-serif;
    @include respond-to(movil) { 
        font-size: 18px;     
        line-height: 24px;   
    }      
    @include respond-to(tablet) { 
        font-size: 26px;
        line-height: 36px;   
    }    

}

.posts__resume__link
{
    text-decoration: none;
    color: #7d7c7c;
    @include respond-to(movil) { 
        font-size: 12px;        
    }      
    @include respond-to(tablet) { 
        font-size: 14px;
    }    
}

.posts__footer {
    margin: 2em 0 2em 0;
    font-size: 80%;
    color: #7d7c7c;
}

.post__footer__text {
    padding: 0 0.5em 0 0.5em;
}

a:hover {
    color: #770025;
    text-decoration: underline;
}
