<div class="post">
  <div class="post__container">
      <div class="post__title">
        <h1 class="post__title--title">
          "This" en Javascript
        </h1>     
        <h2 class="post__title--subtitle">
          Introducción al keyword "This" en Javascript
        </h2>  
        <div class="post__title--footer"></div> 
        <div class="post__image">
          <img class="post__image--image" src="./../assets/images/this-js.png" alt="this javascript">
        </div>

        <p class="post__paragraph">"This" se utiliza mucho en JavaScript y en tutoriales, lo has visto en muchas partes y con significados distintos y estas confunso con su utilización. En esta breve introducción te explicaré detalladamente los distintos usos de "this". Una vez lo entiendas, te darás cuenta de que es mucho más simple de lo que crees que es.</p>
        
        <pre>
          <code class="bash">
            npm uninstall -g angular-cli @angular/cli
            npm cache clean
            npm install -g @angular/cli@latest
          </code>
        </pre>
        
        <post-footer [titlepost]="titlepost"></post-footer>
      </div>
  </div>
</div>
<post-comment [idpost]="titlepost" [postComments]="dbcomments"></post-comment>
