<div class="posts__container">
  <nav class="posts__container__nav">
    <app-post-nav class="posts__menu" 
    [categories]="categories" 
    [archives]="archives"
    (category)="selectByCategory($event)"
    (archived)="selectByArchive($event)"></app-post-nav>
  </nav>

  <div class="posts__container__list">
    <section class="posts__container__list--post">
      <app-post-list 
      [posts]="posts"
      (category)="selectByCategory($event)"></app-post-list>
    </section>
    <section class="posts__container__list--footer">
      <span 
        [ngClass] = "{'posts__footer__hide' : initPage}"
        (click)="movebackward()">
          <i class="fa fa-backward" aria-hidden="true"></i><span class="posts__container__list--footer--backward">Anterior</span>
      </span>
      <span 
        [ngClass] = "{'posts__footer__hide' : lastPage}"        
        (click)="moveforward()">
          <span class="posts__container__list--footer--forward">Siguiente</span><i class="fa fa-forward" aria-hidden="true"></i>
      </span>
    </section>
  </div>
</div>
