<div class="post">
  <div class="post__container">
      <div class="post__title">
        <h1 class="post__title--title">
          SOLID, cinco principios básicos de la POO
        </h1>     
        <h2 class="post__title--subtitle">
          Introduccion a los 5 principios básicos SOLID de la programación orientada a objetos y el diseño sobre Typescript
        </h2>  
        <div class="post__title--footer"></div> 
        <div class="post__image">
          <img class="post__image--image" src="./../assets/images/solid.png" alt="principios solid">
        </div>

        <p class="post__paragraph">SOLID es un acrónimo de los cinco primeros principios de diseño orientado a objetos (POO) de Robert C. Martin. Los cinco principios SOLID son:</p>

        <p class="post__paragraph"><span class="post__paragraph--font-weight">Single responsibility principle</span> [Principio de responsabilidad única]: una clase debe tener una, y sólo una, razón para cambiar.</p>

        <p class="post__paragraph"><span class="post__paragraph--font-weight">Open-closed principle</span> [Principio de abierto/cerrado]: debe ser posible extender el comportamiento de una clase sin modificarla.</p>

        <p class="post__paragraph"><span class="post__paragraph--font-weight">Liskov Substitution principle</span> [Principio de sustitución de Liskov]: las subclases deben ser sustituibles por sus superclases.</p>

        <p lcass="post__paragraph"><span class="post__paragraph--font-weight">Interface segregation principle</span> [Principio de segregación de la interfaz]: muchas interfaces pequeñas, específicas de cliente son mejores que una interfaz de propósito general.</p>

        <p class="post__paragraph"><span class="post__paragraph--font-weight">Dependency inversion principle</span> [Principio de inversión de la dependencia]: depende de abstracciones y no de concreciones.</p>

        <p lass="post__paragraph">Estos principios, hacen que sea sencillo para un programador desarrollar software fácil de mantener y ampliar. También facilitan que los desarrolladores eviten las malas practicas al escribir código, refactorizar fácilmente el código y también forman parte del desarrollo de software ágil o adaptable.</p>

        <h3 class="post__title--title-paragraph">
          Principio de responsabilidad única
        </h3>

        <p class="post__paragraph">El PRU requiere que una clase solo tenga una razón para cambiar. Una clase que sigue este principio realiza sólo unas única tarea y no tareas relacionadas.</p>

        <post-footer [titlepost]="titlepost"></post-footer>
    </div>
  </div>
 </div>
<post-comment></post-comment>