// @import '~bootstrap/scss/bootstrap.scss';

@import './styles/__breakpoints.scss';

@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: BebasNeue;
    src: url('./assets/fonts/BebasNeueBold.otf');
}


html,
body,
h1 {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
    // background-image: url('./assets/images/struckaxiom.png');  
    font-family: 'Montserrat', sans-serif;
    @include respond-to(movil) { 
        font-size: 16px;
    }
    @include respond-to(tablet) { 
        font-size: 24px;        
    }   
}

